@using EF;
@{
    Layout = null;
    List<HoaDonBan> list = ViewBag.list as List<HoaDonBan>;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Công ty phát hành sách 22+</title>
    <link rel="stylesheet" href="/Content/bootstrap.min.css">
</head>
<body>
    @RenderPage("/Views/Shared/header.cshtml")

    <div class="container">
        <h2 class="text-center">Danh sách phiếu xuất</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Đại lý</th>
                    <th>Số điện thoại</th>
                    <th>Ngày xuất</th>
                    <th>Người nhận sách</th>
                    <th style="width:11%">Tổng tiền<i>&nbsp;(VNĐ)</i></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < list.Count; i++)
            {
                double a = Convert.ToDouble(list[i].tongTien);
                DateTime date = Convert.ToDateTime(list[i].ngayBan);
                    <tr>
                        <td>@list[i].DaiLy.tenDaiLy</td>
                        <td>@list[i].sDT</td>
                        <td>@date.ToString("dd/MM/yyyy")</td>
                        <td>@list[i].nguoiNhanSach</td>
                        <td align="right">@a.ToString("#,##0")</td>
                        <td align="right"><a href="/HoaDonBans/Details?id=@list[i].idHDB">Chi tiết phiếu xuất</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
